.content{

    padding: 5%;
    background-color: rgb(230, 231, 230);
    width: 95vw;
    .profile{
    padding: 3%;
    background-color: white;
    border-radius: 5px;
    h3{
        padding-bottom: 3%; 
    }
    label{
        font-weight: bold;
        margin-bottom: 3px;
    }
}
}

